body { font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif; }


/* first a css reset, of the meyer kind */
.ob-reset {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
}

/* end reset */
#ob-omnibar-outer {
    /* For testing */
    background-color: rgba(0,0,0,0.05);

    /* The real deal */
    position: fixed;
    top: 0px;
    //    left: 160px;
    left: 0px;
    right: 0px;
    height: 70px;
    width: auto;

    /* styling */
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#ob-omnibar-outer > .ob-inner > .ob-input-holder > input {
    outline: none;
    background: transparent;
    border: 0;
    color: rgba(20, 20, 20, 0.8);
    font-size: 28px;
    background-color: white;
    width: 100%;
    bottom: 10px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

#ob-omnibar-outer > .ob-inner > .ob-input-holder {
    position: absolute;
    right: 8px;
    left: 6px;
    top: 6px;
}

#ob-left-control-outer {
    display:none;
    /* The real deal */
    position:fixed;
    top: 60px;
    left: 0px;
    bottom: 0px;
    width: 160px;
    text-align: center;
    font-size: 14px;
    
    /* styling */
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

#ob-left-widget-outer {
    display:none;
    /* For testing */
    background-color: rgba(0,0,0,0.05);

     /* The real deal */
    position:fixed;
    top: 0px;
    left: 0px;
    width: 160px;
    height: 80px;

    /* styling */
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#ob-content-outer {
    /* the real deal */
    position: fixed;
    //left: 160px;
    top: 78px;
    left: 6px;
    right: 6px;
    bottom: 0px;
}

#ob-content-inner {
    height: 100%;
    overflow: auto;
    padding-right: 0px;
}

#app_name {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 30px;
}

.ob-table {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.ob-tr {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.ob-tr > td {
    padding: 0px;
    margin: 0px;
}

.ob-inner {
    margin:0px;
    padding:0px;
    height: 100%;
    width: 100%;
    position: relative;
}

.ob-litem {
    margin:      4px;
    margin-left: 4px;
    margin-top: 1px;
}

/* things you should modify below. */
#ob-content {
    padding: 0px;
    margin: 0px;
}

.ob-highlight {
    width: 4px;
    height: inherit;
    background-color: transparent;
}

#ob-omnibar-outer > .ob-inner > .ob-input-holder > input:focus {
    background-color: rgba(0,255,255, 0.05);
}

tr.active > td.ob-highlight {
    background-color: rgba(0,96,255, 0.5);
}

tr.active {
    background-color: rgba(0,96,255, 0.05);
}

.ob-right-tags {
    margin-top: 3px;
    float: right;
    margin-right: 10px;
}

#view_depth {
    position: fixed;
    top:  0px;
    left: 0px;
}

.ob-checkbox-holder {
    text-align: right;
    width: 18px;
    padding:0px;
}