body { font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;

       background-color: #eef1f6;
}


/* first a css reset, of the meyer kind */
.ob-reset {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
}

/* end reset */
#ob-omnibar-outer {
    /* For testing */
    background-color: #4f6a92;


    /* The real deal */
    position: fixed;
    top: 0px;
    left: 100px;
    right: 0px;
    height: 70px;
    width: auto;

    /* styling */
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#ob-omnibar-outer > .ob-inner > .ob-input-holder > input {
    outline: none;
    background: transparent;
    border: 0;
    font-size: 28px;
    background-color: white;
    width: 100%;
    bottom: 10px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    
    // Uncomment with fancy input.
    // text-align:right;
    // color: rgba(20, 20, 20, 0.1);
}

#ob-omnibar-outer > .ob-inner > .ob-input-holder > #fancy_input {
    display:none;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: rgba(255,0,0,0.05);
    font-size: 28px;
    padding-left: 10px;
    padding-top: 10px;
}

#ob-omnibar-outer > .ob-inner > .ob-input-holder {
    position: absolute;
    right: 8px;
    left: 2px;
    top: 6px;
}

#ob-left-control-outer { /* TOP LEFT NUGGET */
    /* The real deal */
    position:fixed;
    top: 70px;
    left: 0px;
    bottom: 0px;
    width: 100px;
    text-align: center;
    font-size: 10px;
    padding-top: 5px;

    /* styling */
    background-color: #4F6A92;
    color: rgba(255, 255, 255, 0.9);
}

#ob-left-widget-outer { /* LEFT GUTTER */
    background-color: #4F6A92;
    color: rgba(255, 255, 255, 0.9);
    
     /* The real deal */
    position:fixed;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 70px;

    /* styling */
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#ob-content-outer {
    /* the real deal */
    position: fixed;
    left: 104px;
    top: 78px;
    right: 6px;
    bottom: 0px;
}

#ob-content-inner {
    height: 100%;
    overflow: auto;
    padding-right: 0px;
}

#app_name {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 30px;
}

.ob-table {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.ob-tr {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.ob-tr > td {
    padding: 0px;
    margin: 0px;
}

.ob-inner {
    margin:0px;
    padding:0px;
    height: 100%;
    width: 100%;
    position: relative;
}

.ob-litem {
    position: relative;
}

/* things you should modify below. */
#ob-content {
    padding: 0px;
    margin: 0px;
}

.ob-highlight {
    width: 4px;
    height: inherit;
    background-color: transparent;
}

#ob-omnibar-outer > .ob-inner > .ob-input-holder > input:focus {
    background-color: rgba(230,240,255,1.0);
}

tr.active > td.ob-highlight {
    background-color: rgba(0,96,255, 0.5);
}

tr.active {
    background-color: rgba(0,96,255, 0.05);
}

.ob-right-tags {
    margin-top: 3px;
    float: right;
    margin-right: 10px;
}

#view_depth {
    position: fixed;
    top:  0px;
    left: 0px;
}

.ob-checkbox-holder {
    text-align: right;
    width: 40px;
    padding:0px;
}

.ob-star {
    float: right;
    width: 18px;
    height: 18px;
    margin-left: 1px;
    margin-right: 2px;
    background-image:url("static/icons/StarOff.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.is_starred {
    background-image:url("static/icons/Star.png");
}

.ob-line-right {
    float:right;
    border-radius: 4px;
    padding: 1px;
    padding-right: 3px;
    padding-left: 3px;
    margin: 1px;
    margin-top: 1px;
    border: 1px solid rgba(20, 20, 20, 0.5);
    
    font-size: 11px;
    font-family: courier;
}

.ob-project-right {
    float:right;
    border-radius: 0px;
    padding-right: 3px;
    border: 1px solid rgba(20, 20, 20, 0.5);
    font-size: 12px;
}

#memo_editor_container {
    display:none;
    position:fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100000;
    background-color: rgba(234,234,234,0.7);
    font-family: "Raleway", sans-serif;
}

#memo_inner_container {
    position:absolute;
    top:0px;
    bottom:0px;
    right: 6%;
    left: 6%;
    top: 2%;
    bottom: 2%;
    padding: 20px;
    z-index: 1000000;
    background-color: white;
    box-shadow: 0px 0px 10px #999;
    font-family: "Raleway", sans-serif;
}
